body {
	font-family: Verdana, 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: black;  
	margin: 0; 
  padding: 0;
	height:100%;
  width:100%;
}


#all{
  width: 1000px;
  margin: 1px auto;
  position:relative;      
  /*background: rgba(0,0,0, 0.50);*/       
}

/**********   top   ****************/

#naglowek{
  width: 100%;
  clear: none;
  text-align:center; 
  display: block;
  padding-top: 10px;  
  top: 10px;   
  font-size: 20px; 
  border-bottom:   4px solid blue;         
}

#a_menu {
 color:white;
}

#menu{   
  background-color: black;
  border-top: 4px solid blue; 
  clear: none;
  color: white;
  width: 40%;
  font-size: 18px;
  text-align: center;
  border-radius: 15px;
}

/*******************************/

p {
  text-align: justify;
  margin: 20px;
}

a{
  color:black;
  text-decoration: none;
} 

a:hover {
  text-decoration: none;
}


ul {
  list-style-type:none; 
}


/**************  stopka  ******************/
#koniec{
    clear: both;
    width: 956px;
   // background-color: white;
    border-top: 1px solid blue;
    display: block;
    padding-bottom: 3px;
    margin-top: 20px;
    bottom: 0;
    text-align: center; 
  //    background: rgba(0,0,0, 0.70);
}


/*************  notatka - wyswietl ******************/

#notatka{
    position: relative;     
    margin: 100px auto 100px auto;
    width:50%;
	  text-align: center;
    border: 3px solid blue;
    background-color:paleturquoise;//powderblue;
    box-shadow:  5px 0 10px 7px;
}   

#a_edytuj{
  color: white;
}
#a_usun{
  color: white;
}

#edytuj{
    float: right;            
    background-color: dodgerblue;
    border: 2px solid blue;
    width:60px;
    border-radius: 15px;

}

#usun{
    float: right;
    background-color: dodgerblue;
    border: 2px solid blue;
    width:50px;
    border-radius: 15px;

}

#data{
    border-bottom: 1px solid blue;
}


/***********  dodaj  *************/

#dodaj{
    float: right;   
    background-color: dodgerblue;
    border: 2px solid blue;
    width:70px;
    border-radius: 15px;
    text-align: center;
}  

#pole{
    position: relative;     
    margin: 50px auto 50px auto;
    width:70%;
	  text-align: justify;
    border: 1px solid blue;
    background-color:paleturquoise;
    box-shadow:  5px 0 10px 7px;
    -moz-box-shadow: 5px 0 20px 10px; /*by  cień wyświetlał się w starszych przeglądarkach Firefoxa*/
    -webkit-box-shadow: 5px 0 20px 10px;
}  

#form{
    position: relative;     
    margin: 50px auto 50px auto;
    width:80%;
	  text-align: center;
}

#przycisk{
     font-size: 17px;
}